.dub
docs.json
__dummy.html
docs/
/minashigo
minashigo.so
minashigo.dylib
minashigo.dll
minashigo.a
minashigo.lib
minashigo-test-*
*.exe
*.o
*.obj
*.lst
node_modules
config/*
public/*
dub.selections.json
package-lock.json
